{# Method signature #}
---
{% autoescape false %}
### {% if method.visibility == 'protected' %}🟠{% endif %}{% if method.visibility == 'private' %}🔴{% endif %}{% if method.visibility == 'public' %}🟢{% endif %} <a name="{{ method.name|lower }}" id="{{ method.name|lower }}">{% if method.name|raw == '__construct' %}Constructor{% else %}{{ method.name }}{% endif %}</a>
```php
{% if method.name|raw == '__construct' %}$dns = new {{ node.name|raw }}{% else %}$dns->{{ method.name }}{% endif %}({% for argument in method.arguments %}
{{- argument.type }} : 
{{- argument.byReference ? '&' }} ${{- argument.name }}{{- argument.default ? ' = ' ~ argument.default|raw }}
{%- if not loop.last %}, {% endif %}
{%- endfor %});
```
{% endautoescape %}

{% if method.static %}* This method is **static**.{% endif %}

{% if method.abstract %}* This method is **abstract**.{% endif %}

{% if method.final %}* This method is **final**.{% endif %}
{% if method.deprecated %}
> [!WARNING]
> This method is **deprecated**. This means that this method will likely be removed in a future version.
{% endif %}

{{ method.summary|raw }}
{{ method.description|raw }}

{% if method.arguments is not empty %}
#### Parameters

| Parameter | Type | Description |
|-----------|------|-------------|
{% for argument in method.arguments %}
| `{{ argument.name }}` | **{{ argument.type ? argument.type|raw }}** | {{ argument.description|replace({'|': '&#124;'})|nl2br|replace({"\n": "", "\r": "", "\t": ""})|raw }} |
{% endfor %}

{% endif %}{# method.arguments is not empty #}

{% if method.response.description %}

{%if method.response.type|replace({'void': ''})|raw%}
#### Returns: `{{ method.response.type|raw }}`
{% endif %}

{% endif %}

{% if method.tags.see is not empty or method.tags.link is not empty %}
**See Also:**

{% for see in method.tags.see %}
* {{ see.reference }} {% if see.description %}- {{ see.description|raw }}{% endif %}
{% endfor %}
{% for link in method.tags.link %}
* {{ link.link }} {% if link.description and link.description != link.link %}- {{ link.description|raw }}{% endif %}
{% endfor %}

{% endif %}{# method.tags.see || method.tags.link #}
