{# Method signature #}
---
{% autoescape false %}
### {% if method.visibility == 'protected' %}🟠{% endif %}{% if method.visibility == 'private' %}🔴{% endif %}{% if method.visibility == 'public' %}🟢{% endif %} <a name="{{ method.name|lower }}" id="{{ method.name|lower }}">{% if method.name|raw == '__construct' %}Constructor{% else %}{{ method.name }}{% endif %}</a>
{% if method.visibility == 'protected' %}
> [!IMPORTANT]
> This method is **protected**.
{% endif %}
{% if method.visibility == 'private' %}
> [!IMPORTANT]
> This method is **private**.
{% endif %}
{% if method.deprecated %}
> [!WARNING]
> This method is **deprecated**. This means that this method will likely be removed in a future version.
{% endif %}
{{ method.summary|raw }}
{{ method.description|raw }}

<dl><dd><dl><dd><dl><dd><dl><dd>
<h6>Usage</h6>
<pre lang="php">{% if method.name|raw == '__construct' %}$dns = new {{ node.name|raw }}{% else %}$dns->{{ method.name }}{% endif %}({% for argument in method.arguments %}
{{- argument.type }} : 
{{- argument.byReference ? '&' }} ${{- argument.name }}{{- argument.default ? ' = ' ~ argument.default|raw }}
{%- if not loop.last %}, {% endif %}
{%- endfor %});</pre>
{% endautoescape %}

{% if method.static %}* This method is **static**.{% endif %}
{% if method.abstract %}* This method is **abstract**.{% endif %}
{% if method.final %}* This method is **final**.{% endif %}

{% if method.arguments is not empty %}
<h6>Parameters</h6>
<table>
<tr><th>Parameter</th><th>Type</th><th>Description</th></tr>
{% for argument in method.arguments %}
<tr><td><pre>{{ argument.name }}</pre></td><td>**{{ argument.type ? argument.type|raw }}**</td><td>{{ argument.description|replace({'|': '&#124;'})|nl2br|replace({"\n": "", "\r": "", "\t": ""})|raw }}</td></tr>
{% endfor %}
</table>

{% endif %}{# method.arguments is not empty #}

{% if method.response.description %}

{%if method.response.type|replace({'void': ''})|raw%}
<h6>Returns: `{{ method.response.type|raw }}`</h6>
{% endif %}

{% endif %}

{% if method.tags.see is not empty or method.tags.link is not empty %}
**See Also:**

{% for see in method.tags.see %}
* {{ see.reference }} {% if see.description %}- {{ see.description|raw }}{% endif %}
{% endfor %}
{% for link in method.tags.link %}
* {{ link.link }} {% if link.description and link.description != link.link %}- {{ link.description|raw }}{% endif %}
{% endfor %}

{% endif %}{# method.tags.see || method.tags.link #}
</dd></dl></dd></dl></dd></dl></dd></dl>